@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.hero img {
  height: 100vh;
  width: 100%;
}
.todo-list:last-child {
  border-bottom: none;
}